table {
  width: 100%;
}
tr {
  height: 35px;
}

th {
  
  padding: 10px 5px;
  text-align: left;
  font-weight: normal;
}

td{
  padding: 10px 5px;
}


/********************/
/*NAV_BAR*/
/********************/


.btn-default{
  width: 100%;
}

.table_result_headers{
  border-bottom: 2px solid black;
  font-weight: bold;

  padding: 10px;
  color: #000000;
}

.table_result_title{
  background-color: #D1D1D1;
  padding: 5px;
  color:white;
}

.th_left {
  width:20%;
  text-align: left;
  font-weight: normal;
  padding: 10px 10px;
}

#groups, #d_agents{
  width:100%;
}

.th_right {
  width:15%;
  padding: 10px 20px;
  /*text-align: left;
  font-weight: normal;
  padding: 10px 20px;
  margin-left: 5px;
  */
}

.title {
  margin-bottom: 10px;
}

.title_content{
  padding: 10px 5px;
  color: white;
}

.colored:nth-child(2n) {
  background-color: #F7F7F7;
}

.colored:nth-child(2n+1) {
  background-color: #FFFFFF;
}

.submit_section_nb{
  /*background-color: #CFCFCF;*/
  padding: 5px;
}

.filter_menu_title{
  height: 10px;
}

.current_agent{
    /*background-color: #CFCFCF;*/
  font-size: 18px;
  text-align: left;
  height: 60px;
  border-bottom: 1px solid #CFCFCF;
  padding:10px 0px 10px 0px;
}

.submit_button{
  /*background-color: #ffa100;*/
}

.btn_user_name{
  display: block;
  height: 30px;
  width: 250px !important;
  text-align: center;
  background-color: #a0be4c;
  color: white;
}

.no_user{
  font-size: 24px;
  text-align: center;
  padding: 100px 0px 100px 0px;
}

.dp_filter{
  margin:10px 0px 10px 0px;
  width:100%;
}

.alert_msg, .alert_msg_reviewed{
  font-size: 9px;
  font-style: italic;
  color: red;
}

.pe_ti_result, .re_ti_result{
  margin:5px;
  color:#d9534f;
}

.pe_ti_result a{
  color:#d9534f;
}
.pe_ti_result a:hover{
  color:#f0b9b8;
}

.re_ti_result a{
  color:#5cb85c;
}
.re_ti_result a:hover{
  color:#c6e6c6;
}
/********************/
/* TICKET SIDE_BAR */
/********************/


.title_ticket {
  background-color: #78A300;
  margin-bottom: 10px;
}

.submit_section{
  background-color: #f2f2f2;
  padding: 5px;
}
.submit_button{
  background-color: #ffa100;
}

.uncheck_all{
  font-size: 9px;
  font-style: italic;
  color: blue;
}

.uncheck_all:hover {
  cursor: pointer;
}

.panel_title{
  cursor: pointer; cursor: hand; 
}

.modal {
  width: 700px;
}